body{
  font-family: "PingFang TC", serif;
}

header{
  background: url("../img/the-urban-landscape-1698285.png") top left no-repeat;
  background-size: cover;
}

.menu{
  margin-top: -30px;
  border-radius: 10px;
  box-shadow: 3px 7px #888888;
}
main{
  .card{
    width: 49%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    &:nth-child(n){
      margin-right: 10px;
      @include media-breakpoint-down(md) {
        margin-right: 0;
      }
    }
    .card-title{
      height: 150px;
    }
  }
  #goTop{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
  }
}




